body {
    .main-box {
        margin: 50px;

        .main-box-input {
            margin-bottom: 20px;
            background-color: orchid;
            border-radius: 15px 15px;
            justify-content: center;
            align-items: center;
            padding: 30px;

            h1 {
                text-align: center;

            }

            form {
                flex-direction: column;
                display: flex;
                padding: 10px;
                justify-content: space-evenly;


                .box-input {
                    display: flex;
                    justify-content: center;
                    align-items: center;



                    input {
                        display: flex;
                        width: 200px;


                        // input {}
                    }
                }
            }

            .main-box-button {
                display: flex;
                flex-direction: column;
                justify-content: center;
                //border: 2px solid red;

                background-color: palegreen;
                padding: 20px;


                .innerbox-Button {
                    display: flex;
                    justify-content: center;
                    padding: 10px;
                }
            }
        }

        .main-ContentBox {
            display: flex;
            flex-direction: column;
            background-color: lightcoral;
            border-radius: 20px;
            padding: 20px;

            .main-ContentBox2 {
                background: olive;
                margin: 10px;
                flex-direction: column;
                display: flex;
                padding: 20px;

                .Content-innrebox {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    .contentBox {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 5px;

                        h2 {
                            font-weight: bold;
                            font-size: 15px;
                        }
                    }

                }

            }

        }

        .mainbox-page {
            display: flex;
            flex-direction: row;
            margin: 10px;

            .box-page {
                display: flex;

            }
        }
    }

}



@media screen and (min-width: 800px) {

    body {
        background-color: orange;

        .main-box {
            border-radius: 17px;

            .main-box-input {


                form {
                    display: flex;
                    flex-direction: row;

                    .box-input {
                        display: flex;
                        flex-direction: row;

                        input {
                            display: flex;

                        }

                    }

                }

                .main-box-button {
                    flex-direction: row;

                    .innerbox-Button {
                        flex-direction: row;

                    }

                }
            }

            .main-ContentBox {

                .main-ContentBox2 {
                    flex-direction: row;
                    justify-content: space-evenly;

                    .Content-innrebox {
                        flex-direction: row;
                        justify-content: space-evenly;

                        .contentBox {}


                    }

                }

            }

        }
    }
}