<%- include("head.ejs")%>

<body>
    <form method="post">
        <input type="text" name="text" value="<%=CommentsModelSave.text%>">
        <input type="text" name="author" value="<%=CommentsModelSave.author%>">
        <input type="text" name="_id" value="<%=CommentsModelSave._id%>" hidden>
        <button type="submit">save update</button>
    </form>
</body>